[submodule "shaderc"]
	path = shaderc
	url = https://github.com/google/shaderc.git
[submodule "assimp"]
	path = assimp
	url = https://github.com/assimp/assimp.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "openexr"]
	path = openexr
	url = https://github.com/AcademySoftwareFoundation/openexr.git
